html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  background: #0b0f17;
  color: #e8edf6;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

